header, footer, section, aside, nav, article, hgroup, figure, figcaption{
	display: block;
}

html{
	height: 100%;
}

body{
	background: #d8d7cb url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAABCAYAAADuHp8EAAAAHUlEQVQY02O8cvnofwYiwNe/goxMTExg9v///xkA4tcIdDbCyI8AAAAASUVORK5CYII%3D) repeat center;
	color: #444;
	font: 12px/1.333333 Helvetica, Arial, Sans-Serif;
	margin: 0;
	padding: 0 0 16px;
	position: relative;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
}

a{
	color: #ad0000;
}

/*a:hover{
	color: #4169e1;
}*/

h1{
	color: #fff;
	font-size: 18px;
	line-height: 42px;
	margin: 0;
	text-align: center;
	text-overflow: ellipsis;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.2), 0 -1px 1px rgba(0, 0, 0, 0.5);
	white-space: nowrap;
}

h2, h3, h4{
	font-size: 12px;
	margin: 0;
}

p, dl{
	margin: 0px;
}

p:not(:first-child):not(:first-of-type), dl:not(:first-child){
	margin-top: 2px;
}

input, textarea{
	border: 1px solid rgba(0, 0, 0, 0.3);
	border-radius: 4px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #444;
	font-family: inherit;
	font-size: 14px;
	padding: 2px 1px;
}

input[type="search"]{
	border-radius: 12px;
	padding: 3px 6px;
	width: 100%;
}

.green{
	color: green;
}

.red{
	color: red;
}

.light{
	color: #777;
}

.center{
	text-align: center;
}

/*=============================================*/

.hwrapper{
	background-color: #b21826;
	background-image: -moz-linear-gradient(#cc202f, #ad3339 50%, #b21826 51%, #930e1c);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #cc202f), color-stop(0.5, #ad3339), color-stop(0.51, #b21826), color-stop(1, #930e1c));
	border-top: 1px solid #db414e;
	border-bottom: 4px solid #dfbd00;
	overflow: hidden;
	padding: 0 5px;
	position: relative;
}

.hwrapper > a + h1{
	margin-left: 56px;
	margin-right: 56px;
	position: relative;
	z-index: 25;
}

.hwrapper > a{
	position: absolute;
	z-index: 50;
}

.hwrapper > a.left{
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(255, 255, 255, 0.3), 0 8px 8px rgba(255, 255, 255, 0.1) inset, 0 2px 2px rgba(0, 0, 0, 0.15) inset;
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(255, 255, 255, 0.3), 0 8px 8px rgba(255, 255, 255, 0.1) inset, 0 2px 2px rgba(0, 0, 0, 0.15) inset;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 26px;
	margin-right: 5px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
	top: 7px;
}

.hwrapper > a.right{	
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	box-shadow: 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(255, 255, 255, 0.3), 0 8px 8px rgba(255, 255, 255, 0.1) inset, 0 2px 2px rgba(0, 0, 0, 0.15) inset;
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.4), 0 1px 1px rgba(255, 255, 255, 0.3), 0 8px 8px rgba(255, 255, 255, 0.1) inset, 0 2px 2px rgba(0, 0, 0, 0.15) inset;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	line-height: 26px;
	margin-right: 5px;
	padding: 0 10px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
	top: 7px;
	right: 0;
}

.hwrapper > a.right > span{
	display: block;
	height: 20px;
	margin: 11px;
	width: 20px;
}

.hwrapper > a.right.calendar > span{
	background-position: 0 -48px;
}

body > nav{
	background-color: #666;
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.13), transparent);
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.13)), to(transparent));
	border-bottom: 1px solid #444;
	display: table;
	color: #fff;
	width: 100%;
}

body > nav a,
body > nav span{
	border-left: 1px solid rgba(255, 255, 255, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.3);
	color: #fff;
	display: table-cell;
	font-weight: bold;
	padding: 8px 10px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	white-space: nowrap;
	width: 10%;
}

body > nav a{
	background: -moz-linear-gradient(rgba(255, 255, 255, 0.4), transparent);
	background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(transparent));
}

body > nav a:first-child{
	border-left: 0;
}

body > nav a:last-child{
	border-right: 0;
}

body > footer{
	text-align: center;
	text-shadow: 0 1px 1px #fff;
}

body > footer a{
	font-weight: bold;
	text-decoration: none;
}

/*=============================================*/

.panel{
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	list-style: none;
	margin: 0 0 16px;
	padding: 0;
}

.panel.group, .panel.details{
	border: 0;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	margin: 8px 10px;
}

.panel a{
	text-decoration: none;
	-webkit-tap-highlight-color: rgba(236, 200, 56, 0.3);
}

.panel > li > a, .panel > li > div, .panel > li > article, .panel > li > p,  .panel > li > input{
	background: #f9f9f9;
	background: #faf9f2;
	border-top: 1px solid rgba(255, 255, 255, 1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	color: #444;
	display: block;
	overflow: hidden;
	padding: 8px 10px;
}

.panel > li:nth-child(even) > a,
.panel > li:nth-child(even) > div,
.panel > li:nth-child(even) > article{
	background: #f2f2f2;
	background: #f5f4ed;
}

.panel > li > a.button, .panel > li > table.button{
	background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.2)) !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.2))) !important;
	background-size: 100% 100% !important;
	border-bottom-color: rgba(0, 0, 0, 0.3);
	border-top: 0;
	box-shadow: 0 0 2px #fff inset;
	-webkit-box-shadow: 0 0 2px #fff inset;
	color: #666;
	text-shadow: 0 1px 0 #fff;
}

.panel > li > a.flippedButton{
	background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.2)) !important;
	background-image: -webkit-gradient(linear, left bottom, left top, from(transparent), to(rgba(0, 0, 0, 0.2))) !important;
	background-size: 100% 100% !important;
	border-bottom-color: rgba(0, 0, 0, 0.3);
	border-top: 0;
	box-shadow: 0 0 2px #fff inset;
	-webkit-box-shadow: 0 0 2px #fff inset;
	color: #666;
	text-shadow: 0 1px 0 #fff;
}

.panel > li > .submit{	
	background: none;
	border: 0;
	text-align: left;
	width: 100%;
	height: 100%;
	background: #f9f9f9;
	background: #faf9f2;
	border-top: 1px solid rgba(255, 255, 255, 1);
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
	color: #444;
	padding: 8px 10px;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAYCAYAAADkgu3FAAAAwElEQVRIx2NgGAWjgBAoLy+PKCsrq6W1JZmlpaWbQRhoWR/NLAJa4A21BIQ3AfGsJUuWsNLEsoqKCgc0y5ZMnDiRgyaW1dbWWkAt2wTFK4B8bppYVlVVpYlsGZC9GkgL08oyUzSfraG6JQ0NDZJAg1cjWbK5vr5endqWKCJZALaksbFRhqqWAF2thRZca4GWiFE7tZmjWbKkqalJkOrxAjS4GloygCyZ19bWRpskDS2GMoB44vz585kZRsEoGJIAAMmTgPP8EmwwAAAAAElFTkSuQmCC");
	background-repeat: no-repeat;
	background-position: right;
	background-size: 26px 24px;
}

.panel a[rel="external"] span.rel{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAaElEQVQoz2P4//8/AzJeODP+PzaMomhKS87/ZQt6/qMDDIUwE0EaMBQ2lnr/R8YgwZuX92NXiCwAUwSiYSajKERXBPMEyM0oCkGSIEGYIqg4A9RUBhSrYYpAAKYQhlEUIgOsCnFhZIUAu/4vQXx9YU8AAAAASUVORK5CYII%3D) no-repeat right center;
	padding-right: 13px;
}

/*.panel.drilldown > li > a:hover{
	background-color: #ecc838;
	background-image: -moz-linear-gradient(#ecc838, #d3af43 50%, #cba630 51%, #af8a2a);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ecc838), color-stop(0.5, #d3af43), color-stop(0.51, #cba630), color-stop(#af8a2a));
	border-top-color: rgba(255, 255, 255, 0.7);
	border-bottom-color: rgba(0, 0, 0, 0.3);
}*/

.panel.group > li:first-child > a,
.panel.group > li:first-child > div,
.panel.group > li:first-child > article,
.panel.details > li:first-child > a,
.panel.details > li:first-child > div,
.panel.details > li:first-child > article{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.panel.group > li:last-child > a,
.panel.group > li:last-child > div,
.panel.group > li:last-child > article,
.panel.details > li:last-child > a,
.panel.details > li:last-child > div,
.panel.details > li:last-child > article{
	border-bottom: 0;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.panel.drilldown > li > a, .panel.drilldown > li > div, .panel.drilldown > li > article{
	padding: 12px 10px;
}

/*.panel.drilldown > li:hover section{
	color: #fff;
	text-shadow: 0 0 3px rgba(0, 0, 0, 0.3), 0 1px 1px rgba(0, 0, 0, 0.5);
}*/

.panel.drilldown h2, .panel.drilldown p{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.panel.drilldown > li > a{
	background-position: right center;
	padding-right: 26px;
}

.panel.details h2{
	font-size: 14px;
}

.panel.details img{
	float: left;
	margin: 0 8px 4px 0;
	height: auto;
	max-width: 50%;
}

.panel.details div:not(:first-child) > img{
	margin-top: 8px;
}

.panel.details table{
	border-spacing: 0;
	width: 100%;
}

.panel.details table th, .panel.details table td{
	border-top: 1px solid rgba(0, 0, 0, 0.2);
	padding: 4px;
	vertical-align: top;
}

.panel.details table tr:first-child th, .panel.details table tr:first-child td{
	border-top: 0;
}

.panel.details table th{
	color: #777;
	text-align: right;
}

.panel.details dt{
	font-weight: bold;
	margin-top: 4px;
}

.panel.details dt:first-child{
	margin-top: 0;
}

.panel.details h3:not(:first-child), .panel.details p:not(:first-child):not(:first-of-type){
	margin-top: 8px;
}

form .panel.details label{
	display: inline-block;
	font-weight: bold;
	vertical-align: top;
	width: 30%;
}

form .panel.details label + input, form .panel.details label + textarea{
	width: 70%;
}

/*=============================================*/

.grids{
	display: table;
	width: 100%;
}

.grids .grid{
	display: table-cell;
	vertical-align: middle;
	width: 10%;
}

.grid.w-11{ width: 91.67% }
.grid.w-10{ width: 83.33% }
.grid.w-9{ width: 75% }
.grid.w-8{ width: 66.67% }
.grid.w-7{ width: 58.33% } 
.grid.w-6{ width: 50% } 
.grid.w-5{ width: 41.67% } 
.grid.w-4{ width: 33.33% } 
.grid.w-3{ width: 25% }
.grid.w-2{ width: 16.67% }
.grid.w-1{ width: 8.33% }

.grid.right{
	text-align: right;
}

/*=============================================*/

.lightbox.overlay{
	background-color: rgba(0, 0, 0, 0.3);
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 75;
}

.lightbox.panel{
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
	position: absolute;
	z-index: 100;
}

table.calendar{
	background: #e5e0ce;
	border-spacing: 0;
	width: 100%;
}

table.calendar th{
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 1px 1px 0 0;
	padding: 8px;
}

table.calendar td{
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-width: 0 1px 1px 0;
	padding: 0;
	text-align: right;
	width: 10%;
}

table.calendar td > a, table.calendar td > span{
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-width: 1px 1px 0 0;
	color: #666;
	display: block;
	font-weight: bold;
	padding: 8px;
}

table.calendar thead td{
	border-width: 1px 1px 0 0;
}

table.calendar thead td:first-child{
	border-left-width: 1px;
}

table.calendar thead a{
	padding: 4px 0;
}

table.calendar thead a span{
	background-color: #b21826;
	background-image: url(../img/sprite.png);
	background-image: url(../img/sprite.png), -moz-linear-gradient(#cc202f, #930e1c);
	background-image: url(../img/sprite.png), -webkit-gradient(linear, left top, left bottom, color-stop(0, #cc202f), color-stop(1, #930e1c));
	background-position: 2px -20px;
	background-size: 17px 57px, 100% 100%;
	border: 2px solid #fff;
	border-radius: 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
	display: block;
	height: 20px;
	margin: auto;
	width: 20px;
}

table.calendar thead td:first-child a span{
	-o-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
}

table.calendar tbody tr:first-child td{
	border-top-width: 1px;
}

table.calendar tbody td:first-child{
	border-left-width: 1px;
}

table.calendar td.active a{
	background-color: #b21826;
	background-image: -moz-linear-gradient(#930e1c, #cc202f);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #930e1c), color-stop(1, #cc202f));
	border: 1px solid rgba(0, 0, 0, 0.6);
	color: #fff;
}

.hwrapper > a.right > span{
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-size: 20px 68px;
}

.panel.drilldown > li > a{
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAYCAYAAADkgu3FAAAAwElEQVRIx2NgGAWjgBAoLy+PKCsrq6W1JZmlpaWbQRhoWR/NLAJa4A21BIQ3AfGsJUuWsNLEsoqKCgc0y5ZMnDiRgyaW1dbWWkAt2wTFK4B8bppYVlVVpYlsGZC9GkgL08oyUzSfraG6JQ0NDZJAg1cjWbK5vr5endqWKCJZALaksbFRhqqWAF2thRZca4GWiFE7tZmjWbKkqalJkOrxAjS4GloygCyZ19bWRpskDS2GMoB44vz585kZRsEoGJIAAMmTgPP8EmwwAAAAAElFTkSuQmCC");
	background-repeat: no-repeat;
	background-size: 26px 24px;
}

@media (-webkit-min-device-pixel-ratio: 2) {
	
	table.calendar thead a span{
		background-image: url(../img/sprite-retina.png), -webkit-gradient(linear, left top, left bottom, color-stop(0, #cc202f), color-stop(1, #930e1c));
	}

	.hwrapper > a.right > span{
		background-image: url(../img/sprite-retina.png);
	}

	.panel.drilldown > li > a{
		background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADQAAAAwCAYAAABe6Vn9AAAB3UlEQVRo3u2YP0vDUBTF09qpxUWk6NDBwcVBBBVHBxd1EScnFwehLoKQNmn6lzS20irYOgmSIoZSrSDJ9+hXqudJU4I0r6O5cg88Hs1b7q/n3vtuoigsFovFYrFYrHnSdf1Y0zSzWCym/gNMNpfLeaqqethfALVKEqTdbscAczUBcX2ofD5vA2qFHBBSzAg44y938ntQrVY3qQEdIXj3F9AUDE4NK5UKLSgEvh9MueCaPP8yTfOAmlO7IvAwp8RzpN8hKSik1haC/5Q4JaBOSUE1m81t1M1HSAr+OIXud0YKqlarZZCCr7L0w35OCgqplYFTPZlT2C8Nw4iRgSqXy4twqjvHKa1QKNCBEnMdnHqQQeFcJZV+SCtdBoTR6Z0EiOM4C6VSKesHHwLTwzy4HHmY0WiUQG3czZjzpjA4fwPMUuRhWq1WCsFaYR1O7Dh/Go/H8cjD9Pv9JNLoWeYMauq+0+kkIw/TaDTSoiZmOePDoetZJBoA/vE07hxHdpGiQVzbtp2IPIxlWeuA8WTOAOaGhDOA2RAvcbIGgInhRKEi1MyjgAl5BXcBQ2uyRsBJOGTN+EjiYereUagKALcBmCGm7T2FsnDjx9EYLrAG9Xp9TWGxWCwWi8Vi/YW+AbrL2ZPFb9TvAAAAAElFTkSuQmCC");
	}

}
