.panel.drilldown > li {
	background-color: rgb(245, 244, 237);
}

.userbox {
	margin-top: 19px;
	margin-bottom: 0;
	color: white;
	text-align: right;
	text-shadow: 1px 1px 1px grey;
}

.userbox a {
	color: white;
}

.userbox a:link {
	text-decoration: none;
}

.userbox a:visited {
	text-decoration: none;
}

.userbox a:hover {
	text-decoration: underline;
}

table.gray-hover tbody tr:hover td {
	background-color: #bbb;
	cursor: default;
}

table.gray-hover tbody tr:active td {
	background-color: #888;
	cursor: default;
}

