html {
	background: url("404background.png") fixed;
	background-color:black;
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

body {
	color:black;
	font-family:"Arial", Arial, sansserif;
}

.back{
	position: absolute;
	top: 7px;
	left: 0.5em;
}

.button{
	width: 14em;
	height: 3em;
}

.centeralign{
    text-align:center;
}

div.heading {
    width: 380px;
	height: 80px;
	margin: auto;
	background-color: White;
	border: 1px solid black;
}

div.heading h1{
    text-align: center;
	font-weight: bold;
	color: #000000;
}

div.whitebox{
	width: 500px;
	height: 290px;
	margin: auto;
	background-color: White;
	border: 1px solid black;
}

div.whitebox p{
	margin: 30px 40px;
	font-weight: bold;
	color: #000000;
}