html {background: url("gradient6.jpg") fixed;}
html {background-color:black;}
body {color:white;}
body {font-family:"Arial", Arial, sansserif;}

h1 {
    color:white;
    margin: 1 px;
    text-align: center;
}

.help {
	position: absolute;
	top: 7px;
	right: 0.5em;
}

.back{
	position: absolute;
	top: 7px;
	left: 0.5em;
}

.button{
	width: 14em;
	height: 3em;
}

.box {
    width:400 px;
    margin: auto;
    border: 1px;
}

.centeralign{
    text-align:center;

}


.leftalign{
    text-align:left;
    margin: 0 20px;
}

.rightalign{
    text-align:right;   
}
