<!DOCTYPE html>
<html manifest="cache.appcache">
<head>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone-relational/0.8.8/backbone-relational.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.9/backbone.localStorage-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.validation/0.9.1/backbone-validation-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.stickit/0.8.0/backbone.stickit.min.js"></script>

	<script type="text/html" id="template-top">
		<header class="hwrapper">
			<h1>Attendance</h1>
		</header>
	</script>

	<script type="text/html" id="template-bottom">
		<br/>
		<footer class="fwrapper">
			<div>
				<p><strong>Mobile App</strong> | <a href="/">Full Site</a></p>
				<br/>
				<p class="light">Template &copy; 2012 <a href="http://m.iastate.edu/">Iowa State University</a></p>
			</div>
		</footer>
	</script>

	<script type="text/html" id="template-mainview">
		<%= $("#template-top").html() %>
		
		<h1>Mobile App Main</h1>
		<ul class="navigation group drilldown panel">
			<li>
					<a href="#checkinout"><b>Tardy Check-In/Early Check-Out</b></a>
					<a href="#event/list"><b>Report Absences</b></a>
					<a href="#"><b>Upload Attendance Data</b></a>
			</li>
		</ul>
		
		<ul class="navigation group drilldown panel">
			<li>
				<a class="button" id="classList">Class List Updated: <%= updated %></a>
			</li>
		</ul>

		<%= $("#template-bottom").html() %>
	</script>

	<script type="text/html" id="template-checkinoutview">
		<%= $("#template-top").html() %>
		<form role="form">
		<div class="input-group">
			<input type="text" class="form-control" placeholder="NetId">
			<span class="input-group-addon">@iastate.edu</span>
		</div>

		<div class="well>
			<h2><%= user_fullname %></h2>
		</div>

		<div class="btn-group btn-group-justified">
			<a class="btn btn-default" role="button" disabled="<%= user_found %>">Check-In</a>
			<a class="btn btn-default" role="button" disabled="<%= user_found %>">Check-Out</a>
		</div>
		</form>
		<%= $("#template-bottom").html() %>
	</script>

    <script type="text/html" id="template-eventlist">
		<%= $("#template-top").html() %>

		<h2>Events</h2>
		<a role="button" href="#event/new" class="btn btn-primary btn-lg create">Create new</a>
		<div class="events" />

		<%= $("#template-bottom").html() %>
	</script>

    <script type="text/html" id="template-event">
        <p>
            <%- type %>
            -
            <%- start %>
            -
            <%- end %>
	</script>

    <script type="text/html" id="template-eventcreate">
        <h2>Create event</h2>

        <form role="form">
            <div class="form-group">
                <label class="checkbox-inline">
                    <input type="radio" name="type" value="rehearsal"> Rehearsal
                </label>
                <label class="checkbox-inline">
                    <input type="radio" name="type" value="performance"> Performance
                </label>
            </div>
            <div class="form-group">
                <label>Start:</label>
                <div class='input-group date startDateTime'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="form-group">
                <label>End:</label>
                <div class='input-group date endDateTime'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Create</button>
        </form>
    </script>

	<script type="text/html" id="template-abscensereport">
		<%= $("#template-top").html() %>

		<div id="main">
			<ul class="navigation group drilldown panel">
				<li class="selected">
					<div class="flippedButton">
						<b>Mark all students that are absent.</b><br/>
						<div id="checkboxes" class="checkboxes" > 
							<form id="absences" name="absences" method="get" style="margin: auto"></form>
						</div>
					</div>
					<a id="addOrEditButton" href="javascript: cache();">Submit</a>
					<a id="clear" href="javascript: clearAbsences();" style="display: none">Clear Absence Data</a>
				</li>
			</ul>
			
			<ul class="navigation group drilldown panel">
				<li class="selected">
					<a id="viewButton" href="javascript: absencesOnOff();"><b>View Absences</b></a>
					<div class="button">
						<div id="eventDiv"></div>
						<table id="eventTable" class="table"> <!-- table 1 -->
							<tbody></tbody>
						</table>
						<div id="absenceDiv"></div>
						<table id="absenceTable" class="table"> <!-- table 2 -->
							<tbody></tbody>
						</table>
					</div>
				</li>
			</ul>
		</div>
						
		<%= $("#template-bottom").html() %>
	</script>
	
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/app/model/models.js"></script>
	<script type="text/javascript" src="js/app/views/attendance.js"></script>
	<script type="text/javascript" src="js/app/views/check_in_out.js"></script>
	<script type="text/javascript" src="js/app/views/main.js"></script>
	<script type="text/javascript" src="js/app/views/student_rank.js"></script>
	<script type="text/javascript" src="js/app/views/event.js"></script>
	<script type="text/javascript" src="js/app/views/events.js"></script>
	<script type="text/javascript" src="js/app/views/eventcreate.js"></script>
	<script type="text/javascript" src="js/app/views/eventlisting.js"></script>

    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css" />

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/css/bootstrap-datetimepicker.min.css" />

</head>
<body>
	<div id="app_view" />
</body>
</html>

