
		<br/>
		<footer class="fwrapper">
			<div>
				<p><strong>Mobile App</strong> | <a href="/">Full Site</a></p>
				<br/>
				<p class="light">Template &copy; 2012 <a href="http://m.iastate.edu/">Iowa State University</a></p>
			</div>
		</footer>